/* ./src/index.css */
@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 150px;
}
 table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
td, th {
  border:1px solid #cccc;
  padding:10px;
  
}

th, tfoot {
  font-weight:bold;
  text-transform: uppercase;
  
}

tr:nth-child(even){
  background-color: rgb(219, 252, 209);
}

tr:hover {
  background-color:rgb(28, 102, 38);
  color:white;

}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonIcon {
background-color:none;
border:none;
cursor:pointer;
width:20px;
height:20px;
}
.smileyIcon {
background-color:none;
border:none;
width:40px;
height:40px;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
 
